<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <label>User Name.</label>&emsp;&emsp;&emsp;&emsp;
    <input type="text" ng-model="uname">

    <br><br>
    <label>Password.</label>&emsp;&emsp;&emsp;
    <input type="password" ng-model="upwd">

    <br><br>
    <button ng-click="login({'uname':uname,'upwd':upwd})">Login</button>

    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.login = function (data) {
                console.log(data);
            };
        };
    </script>
</html>