<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <h1 ng-repeat="x in data">

                <span ng-if="$first">
                    {{x}}
                </span>

    </h1>


    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.data = ["Vibha","Samba","Ravi","Gopi","Satya"];
        }
    </script>
</html>