<!DOCTYPE html>
<html lang="en" ng-app ng-init="intVal=10;
                                strVal='Hello';
                                boolVal=true;
                                arrayVal=['Hello_1','Hello_2','Hello_3','Hello_4','Hello_5'];
                                jsonArray=[ {'id':1,'name':'Hello_1'},
                                            {'id':2,'name':'Hello_2'},
                                            {'id':3,'name':'Hello_3'},
                                            {'id':4,'name':'Hello_4'},
                                            {'id':5,'name':'Hello_5'}]">


    <h1 style="color: #2b542c">{{intVal}}</h1>
    <h1 style="color: #2b542c">{{strVal}}</h1>
    <h1 style="color: #2b542c">{{boolVal}}</h1>
    <h1 ng-repeat="x in arrayVal">{{x}}</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>

        <tr ng-repeat="x in jsonArray">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
        </tr>
    </table>



    <script src="bower_components/angular/angular.min.js"></script>
</html>