<!-- <!DOCTYPE html>
<html ng-app>


	<p style="color: red;" ng-repeat="x in [10,20,30,40,50]">
		{{x}}...{{$index}}...{{$first}}...{{$last}}...{{$middle}}...{{$even}}...{{$odd}}
	</p>

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
</html> -->



<!-- <!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
	<h1 style="color: red;" ng-repeat="x in data">
		{{x}}
	</h1>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("app",[]);
		app.controller("ctrl",ctrl);
		ctrl.$inject=["$scope"];
		function ctrl($scope){
			$scope.data = ["AngularJS" , "Angular2" , "Angular4" , "NodeJS","MongoDB"];		
		}
	</script>
</html>
 -->
 
 
 
 
 <!DOCTYPE html>
 <html ng-app="app" ng-controller="ctrl">
  	<table class="table table-responsive">
 		<tr>
 			<th>id</th>
 			<th>sub</th>
 			<th>rank</th>
 		</tr>
 		<tr ng-repeat="x in data">
 			<td>{{x.id}}</td>
 			<td>{{x.sub}}</td>
 			<td>{{x.rank}}</td>
 		</tr>
 	</table>
 
 	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("app",[]);
		app.controller("ctrl",ctrl);
		ctrl.$inject=["$scope"];
		function ctrl($scope){
			$scope.data = [{'id':1,'sub':'AngularJS','rank':1},
			               {'id':2,'sub':'Angular2','rank':2},
			               {'id':3,'sub':'Angular4','rank':4},
			               {'id':4,'sub':'NodeJS','rank':3},
			               {'id':5,'sub':'MongoDB','rank':5}
			              ];
		}
	</script>
 </html>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

