<!--
    ng-show.
         used to show / hide elements based on condition.

         Syntax.
            ng-show = "true" / "false"

    ** ng-show / ng-hide won't work with the HTML DOM Directly.
-->

<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <p style="color: red" ng-repeat="x in data">
        {{x}}
        <button ng-show="$first" ng-click="clickMe(x)">First</button>
        <button ng-show="$last" ng-click="clickMe(x)">Last</button>
    </p>

    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.data = ["Hello_1","Hello_2","Hello_3","Hello_4","Hello_5"];

            $scope.clickMe = function (arg1) {
              alert(arg1);
            };

        }

    </script>
</html>