<!--

    ng-show.
        - used to show / hide the HTML Elements Based On Conditions.
        - ng-show won't works with the HTML DOM Directly.
        Syntax.
            ng-show="true" / "false"

-->
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <p style="color: red" ng-repeat="x in array">
        {{x}}
        <button ng-show="$first" ng-click="clickMe(x)">First</button>
        <button ng-show="$last" ng-click="clickMe(x)">Last</button>
    </p>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
          $scope.array = [10,20,30,40,50];

          $scope.clickMe = function (x) {
                alert(x);
          };
        };
    </script>
</html>