<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <form ng-submit="login()">
        <label>Uname.</label>&emsp;&emsp;&emsp;
        <input type="text" ng-model="user_details.uname">
        <br><br>
        <label>Password.</label>&emsp;&emsp;
        <input type="password" ng-model="user_details.upwd">
        <br><br>
        <input type="submit">
    </form>



    <script src="angular.min.js"></script>
    <script>
        var app=angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.user_details = {};
            $scope.login = function () {
                alert($scope.user_details.uname+"...."+$scope.user_details.upwd);
            };
        }

    </script>


</html>