<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form ng-submit="register({'uname':uname,'upwd':upwd})">
        <label>Uname</label>&emsp;&emsp;&emsp;&emsp;
        <input type="text" ng-model="uname" />

        <br /><br />
        <label>Password.</label>&emsp;&emsp;&emsp;
        <input type="password" ng-model="upwd" />

        <br /><br />
        <input type="submit" />
    </form>
    <script src="../Scripts/angular.min.js"></script>
    <script>
        angular.module("app", []).controller("ctrl", function ($scope) {
            $scope.register = function (data) {

                console.log(data.uname + "..." + data.upwd);
            }
        });
    </script>
</body>
</html>
