<!--
<!DOCTYPE html>
<html lang="en" ng-app>

    <form name="myForm">
        <label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
        <input  type="text"
                name="uname"
                ng-model="uname"
                ng-minlength="3"
                ng-maxlength="6"
                required>

        <h5 ng-if="myForm.uname.$error.minlength">****Minimum 3 Characters Are Required****</h5>
        <h5 ng-if="myForm.uname.$error.maxlength">****Maximum 6 Characters Are Allowed****</h5>
        <h5 ng-if="myForm.uname.$error.required && myForm.uname.$dirty">****Can't Left Blank****</h5>


        <br><br>
        <label>Email.</label>&emsp;&emsp;&emsp;&emsp;
        <input  type="email"
                name="uemail"
                ng-model="uemail"
                required>

        <h5 ng-if="myForm.uemail.$error.email">****Plaese Enter the Valid Email****</h5>
        <h5 ng-if="myForm.uemail.$error.required && myForm.uemail.$dirty">****Can't Left Blank****</h5>

        <br><br>
        <label>Phone.</label>&emsp;&emsp;&emsp;&emsp;
        <input  type="text"
                name="uphone"
                ng-model="uphone"
                ng-pattern="/^[0-9]{10,10}$/"
                required>

        <h5 ng-if="myForm.uphone.$error.pattern">****Plaese Enter the Valid Phone Number****</h5>
        <h5 ng-if="myForm.uphone.$error.required && myForm.uphone.$dirty">****Can't Left Blank****</h5>

    </form>

    <script src="bower_components/angular/angular.min.js"></script>
</html>-->







<!DOCTYPE html>
<html lang="en" ng-app="app">

<form name="myForm">
    <label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
    <input  type="text"
            name="uname"
            ng-model="uname"
            ng-minlength="3"
            ng-maxlength="6"
            required>

    <div ng-messages="myForm.uname.$error">
        <div ng-messages-include="messages.html"></div>
    </div>




    <br><br>
    <label>Email.</label>&emsp;&emsp;&emsp;&emsp;
    <input  type="email"
            name="uemail"
            ng-model="uemail"
            required>

    <div ng-messages="myForm.uemail.$error">
        <div ng-messages-include="messages.html"></div>
    </div>

    <br><br>
    <label>Phone.</label>&emsp;&emsp;&emsp;&emsp;
    <input  type="text"
            name="uphone"
            ng-model="uphone"
            ng-pattern="/^[0-9]{10,10}$/"
            required>

    <div ng-messages="myForm.uphone.$error">
        <div ng-messages-include="messages.html"></div>
    </div>


</form>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script>
    var app = angular.module("app",["ngMessages"]);
</script>
</html>



















