<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
    <input type="text" ng-model="uname">

    <br><br>
    <label>Pwd.</label>&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="password" ng-model="upwd">

    <br><br>
    <button ng-click="login({'uname':uname,'upwd':upwd})">Login</button>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.login = function (data) {
                alert(data.uname+"...."+data.upwd);
            };
        };
    </script>
</html>