<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <form ng-submit="login_details(uname,upwd)">
        <label>Uname.</label>&emsp;&emsp;&emsp;
        <input type="text" ng-model="uname">

        <br><br>
        <label>Pwd.</label>&emsp;&emsp;&emsp;&emsp;
        <input type="password" ng-model="upwd">

        <br><br>
        <input type="submit">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        angular.module("app",[]).controller("ctrl",function ($scope) {
           $scope.login_details = function(arg1,arg2){
               alert(arg1+"..."+arg2);
           }
        });
    </script>
</html>