<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Stylesheets
	============================================= -->
	
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Document Title
	============================================= -->
	<title>Home | VRSS</title>
</head>

<body class="stretched side-header device-lg">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;">

		<!-- Header
		============================================= -->
		<header id="header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo" class="nobottomborder">
						<a href="#" class="standard-logo" data-dark-logo="images/logo-side-dark.png"><img src="images/VR-logo.png" alt="vrss Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="sf-js-enabled" style="touch-action: pan-y;">
							<li class="current"><a href="home.html" class="sf-with-ul"><div>Home</div></a>					
							</li>
							<li><a href="aboutus.html" class="sf-with-ul"><div>About Us</div></a>					
							</li>
							<li><a href="whoweare.html" class="sf-with-ul"><div>Who We Are</div></a>					
							</li>
							<li><a href="contactus.html" class="sf-with-ul"><div>Conttact Us</div></a>					
							</li>
						</ul>

					</nav><!-- #primary-menu end -->


				</div>

			</div>

		</header><!-- #header end -->

		<!-- Content
		============================================= -->
		<section id="content" style="margin-bottom: 0px;">
		<!-- TOP NAV BAR-->
		<div class="top-navbar">
			 <!-- User Account: style can be found in dropdown.less -->
          <div class="dropdown user user-menu current">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Footer-->
              <li >
                  <a href="#" class="btn btn-default btn-flat">Log out</a>
              </li>
            </ul>
          </div>
		</div>
			<div class="content-wrap p20">

				<h3 class="text-uppercase">HOME</h3>

				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="center">
						Copyrights &copy; 2017 All Rights Reserved by VRSS.<br>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->


	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>

	
</body></html>