<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
	<!-- 
		ng-click="Expression" / "user defined function[parameters]"
	 -->

	<!-- <button class="glyphicon glyphicon-plus" ng-click="count=count+1"></button>
	<button class="btn btn-primary" ng-bind="count"></button>
	<button class="glyphicon glyphicon-minus" ng-click="count=count-1"></button> -->
	
	
	<label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
	<input type="text" ng-model="uname">
	<br><br>
	<label>Password.</label>&emsp;&emsp;&emsp;
	<input type="password" ng-model="upwd">
	<br><br>
	<button ng-click="login(uname,upwd)">Login</button>



	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("app",[]);
		
		/* app.controller("ctrl",ctrl);
		ctrl.$inject=["$scope"];
		function ctrl($scope){
			$scope.count=0;
		} */
		
		
		
		
		app.controller("ctrl",ctrl);
		ctrl.$inject=["$scope"];
		function ctrl($scope){
			$scope.login = function(arg1,arg2){
				console.log(arg1+"...."+arg2);
			}
		}
		
	</script>


</html>