<!--
<!DOCTYPE html>
<html lang="en" ng-app>

    <label>Uname.</label>&emsp;&emsp;&emsp;
    <input type="text" ng-model="uname">

    <br><br>
    <span ng-if="uname!=null && uname!=''">
        <label>Password.</label>&emsp;&emsp;
        <input type="password" ng-model="upwd">
    </span>


    <script src="bower_components/angular/angular.min.js"></script>
</html>-->

<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
    <h1 ng-repeat="x in data">
        <!--<span ng-if="$middle">
            {{x}}
        </span>-->
        <span ng-if="x!='Hello_1' && x!='Hello_5'">
            {{x}}
        </span>
    </h1>

    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        angular.module("app",[]).controller("ctrl",function ($scope) {
           $scope.data = ["Hello_1","Hello_2","Hello_3","Hello_4","Hello_5"];
        });
    </script>

</html>


















