<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl" ng-init="my_model=var_one[0]">

    <select ng-model="my_model" ng-options="x as x for x in var_one">
        <option value="">--Choose One--</option>
    </select>
    <h1>{{my_model}}</h1>


    <select ng-model="model_one" ng-options="x.id as x.sub for x in var_two">
        <option value="">--Choose One--</option>
    </select>
    <h1>{{model_one}}</h1>


    <select ng-model="model_two" ng-options="x.sub as x.id for x in var_two">
        <option value="">--Choose One--</option>
    </select>
    <h1>{{model_two}}</h1>


    <select ng-model="model_three" ng-options="x.sub as x.sub for x in var_two">
        <option value="">--Choose One--</option>
    </select>
    <h1>{{model_three}}</h1>

    <select ng-model="model_four" ng-options="x.id as x.id for x in var_two">
        <option value="">--Choose One--</option>
    </select>
    <h1>{{model_four}}</h1>


    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        angular.module("app",[]).controller("ctrl",function ($scope) {
           $scope.var_one=["Hello_1","Hello_2","Hello_3","Hello_4","Hello_5"];
            $scope.var_two=[{'id':1,'sub':'AngularJS'},
                            {'id':2,'sub':'Angular2'},
                            {'id':3,'sub':'NodeJS'},
                            {'id':4,'sub':'reactJS'},
                            {'id':5,'sub':'Angular4'}];
        });
    </script>
</html>