<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Stylesheets
	============================================= -->
	
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/login.css" type="text/css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Document Title
	============================================= -->
	<title>Home | VRSS</title>

</head>

<body>

	<!-- Document Wrapper
	============================================= -->
	<div class="wrap">
		<div class="container">
      <form class="form-horizontal register" action='' method="POST">
<h3 class="mnone">Register</h3>    
<hr>
<div class="row">
<div class="col-sm-6">
                            <!-- Username -->
                            <div class="form-group">
                              <label for="username">Username</label>
                              <input type="text" id="username" name="username" placeholder="" class="form-control">
                            </div>
                            <!-- First Name -->
                            <div class="form-group">
                              <label for="username">First Name</label>
                              <input type="text" id="fname" name="username" placeholder="" class="form-control">
                            </div>
                            <!-- Username -->
                            <div class="form-group">
                              <label for="username">Last Name</label>
                              <input type="text" id="lname" name="username" placeholder="" class="form-control">
                            </div>
                            <!-- Password-->
                            <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                              <input type="password" id="password" name="password" placeholder="" class="form-control">
                            </div>
                            <!-- Password-->
                            <div class="form-group">
                            <label class="control-label" for="password">Confirm Password</label>
                              <input type="password" id="password" name="cfpwd" placeholder="" class="form-control">
                            </div>
    </div>
    <div class="col-sm-6">
    	<!-- Username -->
                            <div class="form-group">
                              <label for="phone">Phone</label>
                              <input type="text" id="phone" name="phone" placeholder="" class="form-control">
                            </div>
                             <div class="form-group">
                              <label for="phone">Profile Image</label>
                              <input type="file" id="profilrimg" name="profileimg" placeholder="" class="form-control">
                            </div>
                            <!-- First Name -->
                            <div class="form-group">
                              <label for="Gender">Gender</label><br/>
                              <input type="radio" id="gender" name="gender" placeholder=""> Male&nbsp;&nbsp;
                              <input type="radio" name="gender" id="gender">Female
                            </div>
                            <!-- Username -->
                            <div class="form-group">
                              <label for="address">Address</label>
                              <textarea  rows="5" cols="50" id="add" name="address" placeholder="Enter your address" class="form-control"></textarea>
                            </div>
                          <div class="form-group pull-right">
                            <!-- Button -->
                            <div class="controls">
                              <button type="submit" class="btn btn-success">Register</button>
                            </div>
                          </div>
    </div></div>
                      </form>  
    </div>
	</div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>

	
</body></html>