<!--
<!DOCTYPE html>
<html lang="en" ng-app ng-init="count=0">
    <button class="glyphicon glyphicon-plus" ng-click="count=count+1"></button>
    <button class="btn btn-success">{{count}}</button>
    <button class="glyphicon glyphicon-minus" ng-click="count=count-1"></button>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
</html>-->


<!--
<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
    <button ng-click="login()">Login</button>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.login = function () {
                alert("Logged In Successful !");
            };
        }
    </script>
</html>
-->




<!--<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
<label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
<input type="text" ng-model="uname">
<br><br>
<label>Upwd.</label>&emsp;&emsp;&emsp;&emsp;
<input type="password" ng-model="upwd">
<button ng-click="login(uname,upwd)">Login</button>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script>
    var app = angular.module("app",[]);

    app.controller("ctrl",ctrl);
    ctrl.$inject=["$scope"];
    function ctrl($scope) {
        $scope.login = function (arg1,arg2) {
            if(arg1=="admin" && arg2=="admin"){
                alert("Success !");
            }else{
                alert("Login Fail !");
            }
        };
    }
</script>
</html>-->




<!--<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
<label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
<input type="text" ng-model="uname">
<br><br>
<label>Upwd.</label>&emsp;&emsp;&emsp;&emsp;
<input type="password" ng-model="upwd">
<button ng-click="login({'uname':uname,'upwd':upwd})">Login</button>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script>
    var app = angular.module("app",[]);

    app.controller("ctrl",ctrl);
    ctrl.$inject=["$scope"];
    function ctrl($scope) {
        $scope.login = function (arg1) {
           if(arg1.uname == 'admin' && arg1.upwd=='admin'){
               alert("Success !");
           }else{
               alert("Fail !");
           }
        };
    }
</script>
</html>-->







<!DOCTYPE html>

<html ng-app="app" ng-controller="ctrl">



    <label>Uname.</label>&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="text" ng-model="login.uname">
    <br><br>
    <label>Upwd.</label>&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="password" ng-model="login.upwd">
    <br><br>
    <button ng-click="signin()">Login</button>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("ctrl" , ctrl);
        function ctrl($scope) {
            $scope.login = {};
            $scope.signin = function () {
                alert($scope.login.uname+"...."+$scope.login.upwd);
            };
        };
    </script>
</html>























































