<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <h1>{{var_one}}</h1>

    <label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
    <input type="text" ng-model="var_one.uname">
    <br><br>
    <label>Upwd.</label>&emsp;&emsp;&emsp;&emsp;
    <input type="password" ng-model="var_one.upwd">
    <br><br>
    <!--<button ng-click="login(uname,upwd)">Login</button>-->
    <!--<button ng-click="login({'uname':uname,'upwd':upwd})">Login</button>-->
    <button ng-click="login()">Login</button>
    <script src="bower_components/angular/angular.min.js">0</script>
    <script>
        var app = angular.module("app",[]);
        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {

            //implement login
            /*$scope.login = function (arg1,arg2) {
                alert(arg1+"...."+arg2);
            };*/

            /*$scope.login = function (obj) {
              alert(obj);
            };*/

            $scope.var_one={};
            $scope.login=function () {
                alert($scope.var_one);
            };

        }

    </script>

</html>