<!--
<!DOCTYPE html>
<html lang="en" ng-app>

    <h1 style="color: red" ng-repeat="x in [10,20,30,40,50]">
        {{x}}...{{$index}}...{{$first}}...{{$last}}...{{$middle}}...{{$even}}...{{$odd}}
    </h1>

    &lt;!&ndash;
        $index - it will return indexes of elements in an array.
        $first - it will return first index as true
        $last  - it will return last index as true
        **$middle - it will return middle indexes of an array as true
        $even -  it will return even indexes are true
        $odd  - it will odd indexes are true.
    &ndash;&gt;


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
</html>-->

<!--<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">

    &lt;!&ndash;<h1 style="color: red" ng-repeat="x in var_one" ng-bind="x"></h1>&ndash;&gt;

        {{var_one}}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        function ctrl($scope) {
            $scope.var_one = ["AngularJS","Angular5","NodeJS","reactJS","kotlin"];
        }
    </script>
</html>-->

<!--

    JSON.

        - JSON Stands for Java Script Object Notation

        - JSON Used to Transfer the Data Over the Network

        - JSON is ligth Weigth Compared to XML

        - Parsing of JSON Easy Compared to XML

        - Genarally we will parse the XML Files By Using Parsers

            DOM Parser

            SAX Parser

            XML PUll Parser

            STAX Parser

        - Notations in JSON

            Objects - { }

                We have Two Types Of Objects

                    1. Named JSON Objects

                    2. Annonymus JSON Objects

            Arrays  - [ ]

                1. Named JSON Arrays

                2. Annonymus JSON Arrays


           data - "key & value" pairs


           Ex_1.
{
	"e_id":1,
	"e_name":"Hello_1",
	"e_sal": 50000
}

Ex_2
var data={
	"emp":[
			{"__id":1,"__name":"Hello_1","__age":20},
			{"__id":2,"__name":"Hello_2","__age":22},
			{"__id":3,"__name":"Hello_3","__age":24}
	]
};
var var_one;
var var_two;
var var_three;
var result="";
for(var i=0;i<data.emp.length;i++){
		var_one = data.emp[i].__id;
		var_two = data.emp[i].__name;
		var_three = data.emp[i].__age
		result=result+":"var_one+":"+var_two+":"+var_three+"\n";
}
console.log(result);


-->


<!DOCTYPE html>

<html ng-app="app" ng-controller="ctrl">

    <h1 style="color: red" ng-bind="data_one.profile.bio"></h1>

    <table class="table table-responsive">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
        </tr>

        <tr ng-repeat="x in data.records">
            <td>{{x.Name}}</td>
            <td>{{x.City}}</td>
            <td>{{x.Country}}</td>
        </tr>
    </table>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.data = {
                            "records":[
                                {"Name":"Alfreds Futterkiste","City":"Berlin","Country":"Germany"},
                                {"Name":"Ana Trujillo Emparedados y helados","City":"México D.F.","Country":"Mexico"},
                                {"Name":"Antonio Moreno Taquería","City":"México D.F.","Country":"Mexico"},
                                {"Name":"Around the Horn","City":"London","Country":"UK"},
                                {"Name":"B's Beverages","City":"London","Country":"UK"},
                                {"Name":"Berglunds snabbköp","City":"Luleå","Country":"Sweden"},
                                {"Name":"Blauer See Delikatessen","City":"Mannheim","Country":"Germany"},
                                {"Name":"Blondel père et fils","City":"Strasbourg","Country":"France"},
                                {"Name":"Bólido Comidas preparadas","City":"Madrid","Country":"Spain"},
                                {"Name":"Bon app'","City":"Marseille","Country":"France"},
                                {"Name":"Bottom-Dollar Marketse","City":"Tsawassen","Country":"Canada"},
                                {"Name":"Cactus Comidas para llevar","City":"Buenos Aires","Country":"Argentina"},
                                {"Name":"Centro comercial Moctezuma","City":"México D.F.","Country":"Mexico"},
                                {"Name":"Chop-suey Chinese","City":"Bern","Country":"Switzerland"},
                                {"Name":"Comércio Mineiro","City":"São Paulo","Country":"Brazil"} ] };


            $scope.data_one={
                                "profile":{
                                        "username":"eric",
                                        "bio":"Cofounder of Thinkster.io, kinda looks like Peeta from the Hunger Games",
                                        "image":"http://i.imgur.com/S66L2XZ.jpg",
                                        "following":false
                                }
            };

        }
    </script>
</html>

















