<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <p style="color: red" ng-repeat="x in data">
        {{x}}
        <button ng-show="$first" ng-click="clickMe(x)">First</button>
        <button ng-show="$last" ng-click="clickMe(x)">Last</button>
    </p>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        angular.module("app",[]).controller("ctrl",function ($scope) {
            $scope.data = [10,20,30,40,50];
            $scope.clickMe = function (data) {
                alert(data);
            };
        });
    </script>
</html>