<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>

        <tr ng-repeat="x in var_one">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.age}}</td>
        </tr>
    </table>


    <br>

    <table border="1">
        <tr>
            <th>eno</th>
            <th>ename</th>
            <th>eage</th>
        </tr>

        <tr ng-repeat="x in var_two">
            <td>{{x.eno}}</td>
            <td>{{x.ename}}</td>
            <td>{{x.eage}}</td>
        </tr>
    </table>



    <br>

    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>rank</th>
        </tr>

        <tr ng-repeat="x in var_three">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.rank}}</td>
        </tr>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.service("my_service",my_service);


        my_service.$inject=["$http"];
        function my_service($http) {

          this.fun_one = function () {
                return $http.get("http://localhost:8080/static").then(function (response) {
                    return response.data.emp;
                },function (response) {
                    return response;
                });
            };


            this.fun_two = function () {
                return $http.get("http://localhost:8080/mysql").then(function (response) {
                    return response.data;
                },function (response) {
                    return response;
                });
            };

            this.fun_three = function () {
                return $http.get("http://localhost:8080/mongodb").then(function (response) {
                    return response.data;
                },function (response) {
                    return response;
                });
            };


        };


        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope","my_service"];
        function ctrl($scope,my_service) {
            my_service.fun_one().then(function (response) {
                $scope.var_one = response;
            });

            my_service.fun_two().then(function (response) {
                $scope.var_two = response;
            });


            my_service.fun_three().then(function (response) {
                $scope.var_three = response;
            });
        };




    </script>
</html>