<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

<h1>{{my_var_one}}</h1>

<h1 style="color: red">{{time}}</h1>

<h1 style="color: black">{{location}}</h1>

<table border="4">
    <tr>
        <th>id</th>
        <th>sun</th>

    </tr>
    <tr ng-repeat="x in var_four">
        <td>{{x.id}}</td>
        <td>{{x.sub}}</td>

    </tr>
</table>



<table border="1">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
        </tr>
        <tr ng-repeat="x in var_one">
            <td>{{x.Name}}</td>
            <td>{{x.City}}</td>
            <td>{{x.Country}}</td>
        </tr>
    </table>


    <br>

    <table border="2">
        <tr>
            <th>eno</th>
            <th>ename</th>
            <th>eage</th>
        </tr>
        <tr ng-repeat="x in var_two">
            <td>{{x.eno}}</td>
            <td>{{x.ename}}</td>
            <td>{{x.eage}}</td>
        </tr>
    </table>

    <br><br>
    <table border="3">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr ng-repeat="x in var_three">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.age}}</td>
        </tr>
    </table>





    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.service("my_service",my_service);
        my_service.$inject=["$http","$q"];
        function my_service($http,$q) {
        var deffered_one  = $q.defer();
            this.fun_one = function () {
                return $http.get("https://www.w3schools.com/angular/customers.php")
                    .then(function (posRes) {
                        deffered_one.resolve(posRes.data.records);
                        return deffered_one.promise;
                },function (negRes) {
                        deffered_one.reject(negRes);
                        return deffered_one.promise;
                });
            };



            var deffered_two = $q.defer();
            this.fun_two = function () {
              return $http.get("http://localhost:8080/mysql").then(function (res) {
                  deffered_two.resolve(res.data);
                  return deffered_two.promise;
              },function (res) {
                  deffered_two.reject(res);
                  return deffered_two.promise;
              });
            };

            var deffered_three = $q.defer();
            this.fun_three = function () {
                return $http.get("http://localhost:8080/mongodb").then(function (res) {
                    deffered_three.resolve(res.data);
                    return deffered_three.promise;
                },function (res) {
                    deffered_three.reject(res);
                    return deffered_three.promise;
                });
            };

            var deffered_four = $q.defer();
            this.fun_four = function () {
                return $http.get("http://localhost:8080/static").then(function (res) {
                    deffered_four.resolve(res.data.emp);
                    return deffered_four.promise;
                },function (res) {
                    deffered_four.reject(res);
                    return deffered_four.promise;
                });
            };


        };


        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope","my_service","$q","$timeout","$interval","$location"];
        function ctrl($scope,my_service,$q,$timeout,$interval,$location) {

            /*$timeout
                - used to execute a user defined function after a specifies interval of time.
                Syntax.
                     $timeout(timeout , 5000);
                    //it will execute after 5 sec
                    function timeout(){
                        //Logic Goes Here
                    }
             **/

            $scope.my_var_one= "Before Timeout Service !";
            $timeout(timeout , 5000);
            function timeout(){
                $scope.my_var_one= "After Timeout Service !";
            }


            /*
                $interval - used to execute a perticular function repetedely with a given interval of time.
                Syntax.
                    $interval(interval , 1000);
                    function interval(){
                        //Logic Goes Here
                    }
            */

            $scope.time = new Date().toLocaleTimeString();
            $interval(interval,1000);
            function interval() {
                $scope.time = new Date().toLocaleTimeString();
            }


            /*$location
                -used to find the absolute path of web application.
            */

            $scope.location = $location.absUrl();

            $q.all([my_service.fun_one(),
                    my_service.fun_two(),
                    my_service.fun_three(),
                    my_service.fun_four()]).then(function (res) {
                $scope.var_one = res[0];
                $scope.var_two = res[1];
                $scope.var_three = res[2];
                $scope.var_four = res[3];
            });

          /*my_service.fun_one().then(function (res) {
              $scope.var_one = res;
          });

          my_service.fun_two().then(function (res) {
              $scope.var_two = res;
          });

          my_service.fun_three().then(function (res) {
               $scope.var_three = res;
          });

            my_service.fun_four().then(function (res) {
                $scope.var_four = res;
            });*/

        };


    </script>
</html>