<!--
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

<button class="glyphicon glyphicon-plus" ng-click="count=count+1"></button>
<button class="btn btn-primary">{{count}}</button>
<button class="glyphicon glyphicon-minus" ng-click="count=count-1"></button>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.count=0;
        }
    </script>
</html>-->


<!--
<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">

    <button ng-click="my_fun()">ClickMe</button>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
        angular.module("app",[]).controller("ctrl",function ($scope) {
           $scope.my_fun =  function () {
                alert("You Clicked Button !");
           };
        });
    </script>

</html>
-->



<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
    <label>Uname.</label>&emsp;&emsp;&emsp;
    <input type="text" ng-model="uname">

    <br><br>
    <label>Pwd.</label>&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="password" ng-model="upwd">

    <br><br>
    <button ng-click="my_fun({u_name:uname,u_pwd:upwd})">Login</button>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
        angular.module("app",[]).controller("ctrl",function ($scope) {
           $scope.my_fun = function (data) {
                alert(data);
           };
        });
    </script>

</html>




















