<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <!--<select ng-model="my_model" ng-options="x as x for x in data">
        <option value="">&#45;&#45;Select One&#45;&#45;</option>
    </select>-->


   <!-- <select ng-model="my_model" ng-options="x.id as x.name for x in data">
        <option value="">&#45;&#45;Select One&#45;&#45;</option>
    </select>-->

    <!--<select ng-model="my_model" ng-options="x.name as x.id for x in data">
        <option value="">&#45;&#45;Select One&#45;&#45;</option>
    </select>-->

    <!--<select ng-model="my_model" ng-options="x.name as x.name for x in data">
        <option value="">&#45;&#45;Select One&#45;&#45;</option>
    </select>-->

    <select ng-model="my_model" ng-options="x.id as x.id for x in data">
        <option value="">&#45;&#45;Select One&#45;&#45;</option>
    </select>


    <h1>{{my_model}}</h1>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            //$scope.data=["Hello_1","Hello_2","Hello_3","Hello_4","Hello_5"];
            $scope.data=[{id:1,name:'Hello_1'},
                {id:2,name:'Hello_2'},
                {id:3,name:'Hello_3'},
                {id:4,name:'Hello_4'},
                {id:5,name:'Hello_5'}];
        }
    </script>
</html>