<!--
<!DOCTYPE html>
<html lang="en" ng-app>

    <h1 style="color: red" ng-repeat="x in [10,20,30,40,50]">
        {{x}}....{{$index}}...{{$first}}...{{$last}}...{{$middle}}...
        {{$even}}...{{$odd}}
    </h1>

    <script src="../bower_components/angular/angular.min.js"></script>
</html>-->



<!--
<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">

    <h1 ng-repeat="x in var_one">
        {{x}}
    </h1>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.var_one=["Hello_1","Hello_2","Hello_3","Hello_4","Hello_5"];
        }
    </script>

</html>
-->


<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">

    <input type="text" ng-model="my_model">
    <br><br>
    <table class="table table-responsive">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        <tr ng-repeat="x in var_one |
                        orderBy:'id' |
                        limitTo:3 |
                        filter:my_model">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.age | currency}}</td>
        </tr>
    </table>


    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.var_one=[
                    {id:1,name:'Hello_1',age:20},
                    {id:5,name:'Hello_5',age:28},
                    {id:2,name:'Hello_2',age:22},
                    {id:4,name:'Hello_4',age:26},
                    {id:3,name:'Hello_3',age:24}
            ];
        }
</script>

</html>




























