<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
    <form ng-submit="login({u_name:uname,u_pwd:upwd})">
        <label>Uname.</label>&emsp;&emsp;&emsp;
        <input type="text" ng-model="uname">

        <br><br>
        <label>Password.</label>&emsp;
        <input type="password" ng-model="upwd">

        <br><br>
        <input type="submit">
    </form>

    <br>
    <h1>{{var_one}}</h1>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        angular.module("app",[]).controller("ctrl",function ($scope,$http) {
            $scope.login = function (data) {
              $http.post("/login",data).then(function (response) {
                 $scope.var_one = response;
              });
            };
        });
    </script>

</html>