<!--
    ngClickDemo.

        when ever we click the user interface elements , automatically ng-click directive executed
        by angular framework.

        Syntax.
            ng-click = "Expression" /
                       "user defined function" /
                       "user defined function with optional parameters"
-->

<!--
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">
    <button class="glyphicon glyphicon-plus" ng-click="count=count+1"></button>
    <button class="btn btn-primary">{{count}}</button>
    <button class="glyphicon glyphicon-minus" ng-click="count=count-1"></button>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.count = 0;
        }
    </script>
</html>-->





<!--<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">

    <button ng-click="clickMe()">ClickMe</button>

    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.clickMe = function () {
                alert("You Clicked Button !");
            };
        };
    </script>

</html>-->






<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
    <label>Uname.</label>&emsp;&emsp;&emsp;
    <input type="text" ng-model="uname">
    <br><br>
    <label>Upwd.</label>&emsp;&emsp;&emsp;
    <input type="password" ng-model="upwd">
    <br><br>
    <input type="button" ng-click="login(uname,upwd)" value="Login">

    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.login = function (arg1,arg2) {
                alert(arg1+"...."+arg2);
            }
        }
    </script>
</html>




































