<!--
    - ngRepeat Directive used to iterate the elements from an array.
    Syntax.
        ng-repeat = "iteration_variable in array" ng-bind="iteration_variable"
-->

<!--
<!DOCTYPE html>
<html lang="en" ng-app>

    <p style="color: red" ng-repeat="x in [10,20,30,40,50]">
        {{x}}...{{$index}}...{{$first}}...{{$last}}...{{$middle}}...{{$even}}...{{$odd}}

        &lt;!&ndash; $index : used to return all the indexes of an elements
             $first : it will rerurn first index of an array as true
             $last : it will rerurn last index of an array as true
             $middle : it will rerurn middle indexes of an array as true
             $even : it will rerurn even index of an array as true
             $odd : it will rerurn odd index of an array as true
        &ndash;&gt;
    </p>

    <script src="bower_components/angular/angular.min.js"></script>
</html>-->

<!--<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">

    &lt;!&ndash; Display data variable(array) by using ng-repeat directive&ndash;&gt;
    <h1 style="color: rosybrown" ng-repeat="x in data">
       {{x}}
    </h1>

    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            //Declaration Of Array
            $scope.data = ["AngularJS","Angular2","Angular4","NodeJS","reactJS","Kotlin"];
        }
    </script>
</html>-->

<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
        </tr>
        <tr ng-repeat="x in data">
            <td>{{x.Name}}</td>
            <td>{{x.City}}</td>
            <td>{{x.Country}}</td>
        </tr>
    </table>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.data = [
                            {"Name":"Alfreds Futterkiste","City":"Berlin","Country":"Germany"},
                            {"Name":"Ana Trujillo Emparedados y helados","City":"México D.F.","Country":"Mexico"},
                            {"Name":"Antonio Moreno Taquería","City":"México D.F.","Country":"Mexico"},
                            {"Name":"Around the Horn","City":"London","Country":"UK"},
                            {"Name":"B's Beverages","City":"London","Country":"UK"},
                            {"Name":"Berglunds snabbköp","City":"Luleå","Country":"Sweden"},
                            {"Name":"Blauer See Delikatessen","City":"Mannheim","Country":"Germany"},
                            {"Name":"Blondel père et fils","City":"Strasbourg","Country":"France"},
                            {"Name":"Bólido Comidas preparadas","City":"Madrid","Country":"Spain"},
                            {"Name":"Bon app'","City":"Marseille","Country":"France"},
                            {"Name":"Bottom-Dollar Marketse","City":"Tsawassen","Country":"Canada"},
                            {"Name":"Cactus Comidas para llevar","City":"Buenos Aires","Country":"Argentina"},
                            {"Name":"Centro comercial Moctezuma","City":"México D.F.","Country":"Mexico"},
                            {"Name":"Chop-suey Chinese","City":"Bern","Country":"Switzerland"},
                            {"Name":"Comércio Mineiro","City":"São Paulo","Country":"Brazil"}
                        ];
        }
    </script>
</html>

