<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">
    <form ng-submit="login_details({'uname':uname,'upwd':upwd})">
        <label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
        <input type="text" ng-model="uname">

        <br><br>
        <label>Upwd.</label>&emsp;&emsp;&emsp;&emsp;
        <input type="password" ng-model="upwd">

        <br><br>
        <input type="submit">

    </form>
    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.login_details = function (arg1) {
                alert(arg1);
            };
        };
    </script>


</html>