<!--
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">


    <input type="text" ng-model="search">

    <br><br>
    <table border="2">
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>

        <tr ng-repeat="x in array | orderBy:'id' | limitTo:3 | filter:search">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
        </tr>
    </table>

    <br>
    <h1>{{var_one | lowercase}}</h1>

    <h1>{{'hello' | uppercase}}</h1>

    <h1>{{100 | currency}}</h1>

    <h1>{{todayDate | date:'shortTime'}}</h1>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope"];
        function ctrl($scope) {
            $scope.array= [
                    {'id':1,'name':'AngularJS'},
                    {'id':5,'name':'Kotlin'},
                    {'id':2,'name':'Angular2'},
                    {'id':4,'name':'reactJS'},
                    {'id':3,'name':'NodeJS'}
            ];


            $scope.var_one="HELLO";

            $scope.todayDate = new Date();

        };
    </script>
</html>-->




<!DOCTYPE html>
<html lang="en" ng-app="app">

    <h1>{{"hello" | reverse}}</h1>

    <h1>{{100 | my_currency:"&#8377;":false}}</h1>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);


        app.filter("reverse",reverse);
        function reverse() {
            return function (arg1) {
                var data="";
                for(var i=0;i<arg1.length;i++){
                    data=arg1[i]+data;
                }
                return data;
            };
        }


        app.filter("my_currency",my_currency);
        function my_currency() {
            return function (amount,symbol,position) {
                if(position){
                    return symbol+" "+amount;
                }else{
                    return amount+" "+symbol;
                }
            };
        };

    </script>
</html>













