<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">


    <input type="text" ng-model="my_model"> <br><br>
    <button ng-click="clickMe(my_model)">Show Currency</button>

    <h1>{{100 | my_currency:"+converter+":true}}</h1>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        angular.module("app",[]).controller("ctrl",function ($scope) {
            $scope.clickMe = function (arg1) {
                if(arg1=='india'){
                    $scope.converter="&#8377;";
                }
            };
        }).filter("my_currency",function () {
           return function(arg1,arg2,arg3){
              if(arg3){
                  return arg2+" "+arg1;
              }
           }
        });
    </script>


</html>