<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

   <!-- <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>

        <tr ng-repeat="x in data | orderBy:'id' | limitTo:3">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
        </tr>
    </table>



    <br><br>
    <input type="text" ng-model="search"> <br><br>
    <table border="2">
        <tr>
            <th>eno</th>
            <th>ename</th>
            <th>eage</th>
        </tr>
        <tr ng-repeat="x in my_array | filter:search">
            <td>{{x.eno}}</td>
            <td>{{x.ename}}</td>
            <td>{{x.eage}}</td>
        </tr>
    </table>

    <br><br>
    <h1 style="color: red">{{var_one | uppercase}}</h1>
    <h1 style="color: green">{{var_two | lowercase}}</h1>
    -->

    <h1 style="color: #2e6da4">{{var_three | currency}}</h1>
    <h1 style="color: #2e6da4">{{var_three | currency : "$": 4}}</h1>
    <h1 style="color: #2e6da4">{{var_three | currency:"&#8377;" : 4}}</h1>


    <h2 style="color: red">{{var_four}}</h2>
    <h2 style="color: red">{{var_four | date:'medium'}}</h2>
    <h2 style="color: red">{{var_four | date:'fullDate'}}</h2>
    <h2 style="color: red">{{var_four | date:'short'}}</h2>
    <h2 style="color: red">{{var_four | date:'dd-MM-yy'}}</h2>
    <h2 style="color: red">{{var_four | date:'dd-MM-yyyy'}}</h2>
   <h2 style="color: red">{{var_four | date:'MM-dd-yyyy'}}</h2>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        angular.module("app",[]).controller("ctrl",function ($scope) {
           $scope.data = [  {'id':1,'name':'AngularJS'},
                            {'id':5,'name':'NodeJS'},
                            {'id':2,'name':'Angular2'},
                            {'id':4,'name':'Angular4'},
                            {'id':3,'name':'reactJS'}];



           $scope.my_array = [{'eno':111,'ename':'Hello_1','eage':20},
                              {'eno':222,'ename':'Hello_2','eage':22},
                              {'eno':333,'ename':'Hello_3','eage':24},
                              {'eno':444,'ename':'Hello_4','eage':26},
                              {'eno':555,'ename':'Hello_5','eage':28}
           ];

           $scope.var_one = "hello";
           $scope.var_two = "HELLO";
           $scope.var_three = 100;
           $scope.var_four = new Date();


        });
    </script>
</html>