<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">
    <form ng-submit="save({'eid':eid,'ename':ename,'eage':eage})">
        <label>Eid.</label>&emsp;&emsp;&emsp;
        <input type="text" ng-model="eid">

        <br><br>
        <label>Ename</label>&emsp;&emsp;
        <input type="text" ng-model="ename">

        <br><br>
        <label>Eage.</label>&emsp;&emsp;
        <input type="text" ng-model="eage">

        <br><br>
        <input type="submit">
    </form>

    <br><br>

    <h1>{{var_one}}</h1>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app= angular.module("app",[]);
        app.controller("ctrl",function ($scope,$http) {
           $scope.save = function (data) {
                $http.post("/add",data).then(function (res) {
                   $scope.var_one = res;
                });
           };
        });
    </script>
</html>