<!DOCTYPE html>
<html lang="en" ng-app="app">

    <div ng-controller="parent_controller">
        <input type="text" ng-model="model_one"> <br><br>
        <input type="text" ng-model="model_two"> <br><br>
        <button ng-click="clickMe({'model_one':model_one,'model_two':model_two})">BroadCast</button>

        <br><br>

        <h1 style="color: red" ng-controller="child_one" ng-bind="var_one"></h1>
        <h1 style="color: green" ng-controller="child_two" ng-bind="var_two"></h1>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

    <script>
        var app = angular.module("app",[]);

        app.controller("parent_controller",parent_controller);
        parent_controller.$inject=["$scope"];
        function parent_controller($scope){
            $scope.clickMe = function(data){
                $scope.$broadcast("key1",data);
            }
        }


        app.controller("child_one",child_one);
        child_one.$inject=["$scope"];
        function child_one($scope) {
            $scope.$on("key1",function(event,res){
                $scope.var_one = res.model_one;
            });
        }


        app.controller("child_two",child_two);
        child_two.$inject=["$scope"];
        function child_two($scope) {
            $scope.$on("key1",function(event,res){
                $scope.var_two = res.model_two;
            });
        }




    </script>



</html>