<!--
    - As a Angular Developer we can provide the Communication Between Controllers.
    - We Can Provide the Communication Between Controllers in 4 ways.
        1.broadcast
        2.emit
        3.rootScope
        4.custom services
-->



<!-- Ex1. Share the JSON Object From Parent to Child Controller-->
<!--
<!DOCTYPE html>
<html lang="en" ng-app="app">
    <div ng-controller="parent_controller">
        <button ng-click="broadcast({'child' : 'For Child Controller'})">BroadCast</button>
        <div ng-controller="child_controller">
            <h1 style="color: red">{{var_one}}</h1>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("parent_controller",parent_controller);
        parent_controller.$inject=["$scope"];
        function parent_controller($scope) {
            $scope.broadcast = function (data) {
                //Broadcasting the "data" object by using "key1"
                $scope.$broadcast("key1",data);
            };
        };


        app.controller("child_controller",child_controller);
        child_controller.$inject=["$scope"];
        function child_controller($scope) {
           $scope.$on("key1",function (event,res) {
               $scope.var_one = res.child;
           });
        };


    </script>
</html>-->

<!-- Ex2. Share the JSON Object From Child Controller to Parent Controller-->
<!--<!DOCTYPE html>
<html ng-app="app">
    <div ng-controller="parent_controller">
        <h1 style="color: red">{{var_one}}</h1>
        <div ng-controller="child_controller">
            <input type="text" ng-model="my_model"> <br>
            <button ng-click="emit({'parent':my_model})">Emit</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("child_controller",child_controller);
        child_controller.$inject=["$scope"];
        function child_controller($scope) {
            $scope.emit = function (data) {
                $scope.$emit("key1",data);
            };
        };

        app.controller("parent_controller",parent_controller);
        parent_controller.$inject=["$scope"];
        function parent_controller($scope) {
          $scope.$on("key1",function (event,res) {
              $scope.var_one = res.parent;
          });
        };
    </script>
</html>-->

<!--&lt;!&ndash; Ex3. Communication Between Controller by using Custom Services.&ndash;&gt;
<!DOCTYPE html>
<html ng-app="app">
    <div ng-include="'ctrl_one.html'"></div>
    <br><br>
    <div ng-include="'ctrl_two.html'"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.service("my_service",my_service);
        function my_service() {
            this.my_var = "";
            this.setVarOne = function (data) {
                this.my_var = data;
            };

            this.getVarOne = function () {
                return this.my_var;
            };
        }

        app.controller("ctrl_one",ctrl_one);
        ctrl_one.$inject=["$scope","my_service"];
        function ctrl_one($scope,my_service) {
          $scope.send = function (arg1) {
            my_service.setVarOne(arg1);
          };
        };

        app.controller("ctrl_two",ctrl_two);
        ctrl_two.$inject=["$scope","my_service"];
        function ctrl_two($scope,my_service) {
            $scope.receive = function () {
                $scope.var_one  = my_service.getVarOne();
            };
        };
    </script>
</html>-->









<!-- EX 4.Communication Between Controllers by using rootScope -->
<!DOCTYPE html>
<html ng-app="app">

    <div ng-controller="ctrl_one">
        <input type="text" ng-model="my_model"> <br>
        <button ng-click="clickMe(my_model)">ClickMe</button>
    </div>

    <div ng-controller="ctrl_two">
        <h1>{{var_one}}</h1>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        
        app.controller("ctrl_one",ctrl_one);
        ctrl_one.$inject=["$scope"];
        function ctrl_one($scope) {
            $scope.clickMe = function (arg1) {
                $scope.fun_one(arg1);
            };
        };
        
        
        app.controller("ctrl_two",ctrl_two);
        ctrl_two.$inject=["$rootScope","$scope"];
        function ctrl_two($rootScope,$scope) {
            $rootScope.fun_one = function (arg1) {
                $scope.var_one = arg1;
            };
        };
        
    </script>


</html>





































