<!--
<!DOCTYPE html>
<html lang="en" ng-app="app">
    <div ng-controller="parent_controller">
        <input type="text" ng-model="model_one"><br><br>
        <input type="text" ng-model="model_two"><br><br>
        <button ng-click="clickMe(model_one,model_two)">ClickMe</button>
        <div ng-controller="child_controller">
            <h1 style="color: red">{{child}}</h1>
                <div ng-controller="sub_controller">
                    <h1 style="color: green">{{sub}}</h1>
                </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app=angular.module("app",[]);
        app.controller("parent_controller",parent_controller);
        parent_controller.$inject=["$scope"];
        function parent_controller($scope) {
            $scope.clickMe = function (arg1,arg2) {
              $scope.$broadcast("key1",arg1);
              $scope.$broadcast("key2",arg2);
            };
        };


        app.controller("child_controller",child_controller);
        child_controller.$inject=["$scope"];
        function child_controller($scope) {
            $scope.$on("key1",function (event,res) {
                $scope.child=res;
            });
        };


        app.controller("sub_controller",sub_controller);
        sub_controller.$inject=["$scope"];
        function sub_controller($scope) {
            $scope.$on("key2",function (event,res) {
                $scope.sub=res;
            });
        };

    </script>
</html>-->


<!--
<!DOCTYPE html>
<html ng-app="app">
    <div ng-controller="parent_controller">
        <h1 style="color: red">{{var_one}}</h1>
            <div ng-controller="child_controller">
                <button ng-click="clickMe({'parent':'For Parent Controller !'})">ClickMe</button>
            </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("child_controller",child_controller);
        child_controller.$inject=["$scope"];
        function child_controller($scope) {
            $scope.clickMe = function (arg1) {
                $scope.$emit("key1",arg1);
            };
        };


        app.controller("parent_controller",parent_controller);
        parent_controller.$inject=["$scope"];
        function parent_controller($scope) {
            $scope.$on("key1",function (event,res) {
                $scope.var_one = res.parent;
            });
        };
    </script>
</html>
-->

<!DOCTYPE html>
<html ng-app="app">

    <div ng-controller="ctrl_one">
        <button ng-click="clickMe()">ClickMe</button>
    </div>

    <div ng-controller="ctrl_two">
        <h1 style="color: red">{{var_one}}</h1>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl_one",ctrl_one);
        ctrl_one.$inject=["$scope"];
        function ctrl_one($scope) {
            $scope.clickMe = function () {
                $scope.my_fun("For Controller Two");
            };
        };

        app.controller("ctrl_two",ctrl_two);
        ctrl_two.$inject=["$scope","$rootScope"];
        function ctrl_two($scope,$rootScope) {
            $rootScope.my_fun = function (arg1) {
                $scope.var_one=arg1;
            };
        };
    </script>
</html>


























