<!--
<!DOCTYPE html>
<html lang="en" ng-app="app">

    <div ng-controller="parent_controller">
        <input type="text" ng-model="model_one"> &emsp;&emsp;
        <button ng-click="clickMe(model_one)">ClickMe</button>
        <div ng-controller="child_controller">
            <h1>{{var_one}}</h1>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("parent_controller",parent_controller);
        parent_controller.$inject=["$scope"];
        function parent_controller($scope) {
            $scope.clickMe = function (arg1) {
                $scope.$broadcast("key1",arg1);
            };
        };

        app.controller("child_controller",child_controller);
        child_controller.$inject=["$scope"];
        function child_controller($scope) {
            $scope.$on("key1",function(event,res){
                $scope.var_one = res;
            });
        };
    </script>
</html>-->




<!--
<!DOCTYPE html>
<html ng-app="app">

    <div ng-controller="parent_controller">
        <h1>{{var_one}}</h1>
        <div ng-controller="child_controller">
            <button ng-click="clickMe()">ClickMe</button>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("child_controller",child_controller);
        child_controller.$inject=["$scope"];
        function child_controller($scope) {
            $scope.clickMe = function () {
                $scope.$emit("key1",{'id':1,'name':'For Parent Controller'});
            };
        };


        app.controller("parent_controller",parent_controller);
        parent_controller.$inject=["$scope"];
        function parent_controller($scope) {
            $scope.$on("key1",function (event,res) {
                $scope.var_one = res.name;
            });
        };

    </script>


</html>
-->

<!--
<!DOCTYPE html>
<html ng-app="app">

    <div ng-controller="ctrl_one">
        <button ng-click="clickMe()">ClickMe</button>
    </div>

    <div ng-controller="ctrl_two">
        <h1>{{var_one}}</h1>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl_one",ctrl_one);
        ctrl_one.$inject=["$scope"];
        function ctrl_one($scope) {
            $scope.clickMe = function () {
                $scope.my_fun("For Controller Two");
            };
        };

        app.controller("ctrl_two",ctrl_two);
        ctrl_two.$inject=["$scope","$rootScope"];
        function ctrl_two($scope,$rootScope) {
            $rootScope.my_fun = function (arg1) {
                $scope.var_one = arg1;
            };
        };


    </script>

</html>

-->






<!DOCTYPE html>
<html ng-app="app">

    <div ng-controller="ctrl_one">
        <button ng-click="first()">First</button>
    </div>

    <div ng-controller="ctrl_two">
        <button ng-click="two()">Two</button>
        <br>
        <h1>{{var_one}}</h1>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        
        app.service("my_service",my_service);
        
        function my_service() {
            this.my_var="";
            this.fun_one=function (arg1) {
                this.my_var=arg1;
            };
            this.fun_two=function () {
                return this.my_var;
            };
        }


        app.controller("ctrl_one",ctrl_one);
        ctrl_one.$inject=["$scope","my_service"];
        function ctrl_one($scope,my_service) {
            $scope.first = function () {
               my_service.fun_one("For Controller Two");
            };
        };


        app.controller("ctrl_two",ctrl_two);
        ctrl_two.$inject=["$scope","my_service"];
        function ctrl_two($scope,my_service) {
            $scope.two = function () {
                $scope.var_one = my_service.fun_two();
            };
        };
    </script>


</html>






































