<!DOCTYPE html>
<html lang="en" ng-app="app">

    <div ng-controller="ctrl_one">
        <input type="text" ng-model="my_model">&emsp;&emsp;&emsp;
        <button ng-click="clickMe(my_model)">ClickMe</button>
    </div>

    <div ng-controller="ctrl_two">
        <h1 style="color: red">{{var_one}}</h1>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl_one",ctrl_one);
        ctrl_one.$inject=["$scope"];
        function ctrl_one($scope) {
            $scope.clickMe = function (data) {
                $scope.my_fun(data);
            };
        };


        app.controller("ctrl_two",ctrl_two);
        ctrl_two.$inject=["$rootScope","$scope"];
        function ctrl_two($rootScope,$scope) {
            $rootScope.my_fun = function (data) {
                $scope.var_one = data;
            };
        };


    </script>
</html>