<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">


    <label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
    <input type="text" ng-model="uname">

    <br><br>
    <label>Password.</label>&emsp;&emsp;
    <input type="password" ng-model="upwd">

    <br><br>
    <button ng-click="save({'uname':uname,'upwd':upwd})">Save</button>&emsp;
    <button ng-click="read()">Read</button>&emsp;
    <button ng-click="remove()">Delete</button>&emsp;

    <br><br>
    <h1>{{var_one}}</h1>


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>

    <script>
        var app = angular.module("app",["ngStorage"]);

        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope","$localStorage","$sessionStorage"];
        function ctrl($scope,$localStorage,$sessionStorage){
            $scope.save = function (data) {
                //window.localStorage.setItem("workshop",JSON.stringify(data));
                //$localStorage.workshop = data;
                $sessionStorage.workshop = data;
            };


            $scope.read = function () {
                //$scope.var_one = $localStorage.workshop.uname+"..."+$localStorage.workshop.upwd;
                $scope.var_one = $sessionStorage.workshop.uname+"..."+$sessionStorage.workshop.upwd;

            };

            $scope.remove = function () {
                //delete $localStorage.workshop;
                //window.localStorage.removeItem("workshop");
                delete $sessionStorage.workshop;
                $scope.var_one="";
            };

        };



    </script>











</html>