<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
    <input type="text" ng-model="uname">

    <br><br>
    <label>Upwd.</label>&emsp;&emsp;&emsp;&emsp;
    <input type="password" ng-model="upwd">

    <br><br>
    <button ng-click="save({'uname':uname,'upwd':upwd})">Save</button>&emsp;&emsp;
    <button ng-click="read()">Read</button>&emsp;&emsp;
    <button ng-click="remove()">Delete</button>&emsp;&emsp;
    <br><br>
    <h1>{{var_one}}</h1>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>

    <script>
        var app = angular.module("app",["ngStorage"]);


        app.controller("ctrl",ctrl);
        ctrl.$inject=["$scope","$localStorage","$sessionStorage"];
        function ctrl($scope,$localStorage,$sessionStorage) {
            $scope.save = function (obj) {
                //localStorage (angular)
                //$localStorage.workshop=obj;
                //localstorage (HTML5)
                //window.localStorage.setItem("workshop",obj);

                //sessionStorage
                $sessionStorage.workshop=obj;

            };


            $scope.read = function () {
              //read from localStorage.
                //$scope.var_one = $localStorage.workshop;

                //read from sessionStorage
                $scope.var_one=$sessionStorage.workshop;
            };


            $scope.remove=function () {
              //delete from localstorage.
                //delete $localStorage.workshop;
                //window.localStorage.removeItem("workshop");

                //delete from sessionStorage.
                delete $sessionStorage.workshop;
                $scope.var_one="";

            };
        }





    </script>


</html>